<body class="body-style">


    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <!-- Título -->
            <span class="navbar-brand mb-0 h1 font-custom"><a href="/home-page" style=" text-decoration: none; color: inherit; font-family:Verdana, Geneva, Tahoma, sans-serif !important;">Should It Be Consumed</a></span>
        </div>
    </nav>
    
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: #000; border: 1px solid #fff;min-height: 35vh; max-width: 150vw; border-radius: 2%;">
                    <div class="card-body">
    
                        <h5 class="card-title text-center text-white font-custom">Recupere sua senha</h5>
    
                        <form class="mt-3" [formGroup]="passwordRecoveryForm">
                            <div class="container mt-1">
    
                                <div class="row justify-content-center">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="senha" class="text-white font-custom">Nova Senha:</label>
                                            <input type="password" [formControlName]="'senha'" class="form-control" id="senha" placeholder="Sua senha">
                                        </div>
                                    </div>
                                    
                                    <!-- Confirme a Senha na mesma linha que a Senha -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="confirmarSenha" class="text-white font-custom">Confirmar Nova Senha:</label>
                                            <input type="password" [formControlName]="'confirmarSenha'" class="form-control" id="confirmarSenha" placeholder="Confirme sua senha">
                                        </div>
                                    </div>

                                    <div class="col-md-6 mt-4">
                                        <div class="form-group">
                                            <label for="senhaAntiga" class="text-white font-custom">Senha Atual:</label>
                                            <input type="password" [formControlName]="'senhaAntiga'" class="form-control" id="email" placeholder="Sua senha atual">
                                        </div>
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="row text-center mt-5">
                                <div class="col-md-6">
                                    <button type="button" (click)="toMenu()" class="btn btn-block font-custom"
                                        style="color:  white; background-color: salmon; min-width: 50%;">Cancelar</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="submitPwd()" class="btn btn-block font-custom"
                                        style="color:  white; background-color: darkgreen; min-width: 50%;">Alterar senha</button>
                                </div>
                            </div>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    </body>