.text-white{
    text-decoration: white;
}

.body-style{
    background-color: rgb(233, 230, 230);
    height: 100vh;
}

.font-custom{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.password-recovery{
    font-size: small;
}