<body class="body-style">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: #212529; border: none;">
                    <div class="card-body mt-5">

                        <h5 class="card-title text-center text-white font-custom" style="font-size:4vh; font-family: cursive !important;">Should It Be Consumed</h5>

                        <form class="mt-5">
                            <div class="container mt-5">

                                <div class="row justify-content-center">

                                    <div class="card mt-5" style="background-color: darkgreen; border-color: white; border-width: 1px; min-height: 15vh; min-width: 40vw;">
                                        <span class="font-custom" style="text-align: center; margin-top: auto; margin-bottom: auto; color: #F3EFDB; font-size: x-large;">Compartilhe sua visão e ajude a construir um ambiente seguro no Instagram para nossos pequenos exploradores</span>
                                    
                                    </div>


                                </div>
                            </div>

                            <div class="row text-center mt-3">

                                <div class="col-md-12 mt-3">
                                    <button (click)="toLogin()" type="button" class="btn btn-success btn-block font-custom"
                                        style="color:  white; min-width: 40%; font-size:large; font-weight: 200;">Entrar</button>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <button (click)="toNewAcc()" type="button" class="btn btn-block font-custom"
                                        style="color:  black; background-color: #DCE0DB; min-width: 40%;font-size:large; font-weight: 200;">Criar conta</button>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <button type="button" (click)="navigate()"class="btn btn-block font-custom"
                                        style="color:  #F3EFDB; min-width: 40%; background-color: salmon; font-size:large; font-weight: 200;">Apenas navegar</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>